@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    padding: 0 .5em;
}

tr {
    border-bottom: 1px solid #33333340;
}

td {
    padding: .5em .5em;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

tr>td:first-child {
    color: #46464685;
}

tr>td:last-child {
    color: #0b0b0be8;
}